html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    text-align: center;
    
}
main {
    text-align: left;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
    margin-top: 10%;
}
body {
    background-color: grey;
    color: #000080;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    color:#000080;
    text-align: left;
}
figure {
    text-align: center;

}
figcaption {
    font-style: italic;
}
a {
    color: #ADD8E6;
    text-decoration: none;
}
table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
th
{
    background-color: rgb(68, 68, 68);
}
tr:nth-child(even) {
    background-color: lightgray;
}
h3 {
    text-align: center;
}
form 
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #0404c7;
    font-family:'Courier New', Courier, monospace;
}
button 
{
    background-color: rgb(17, 10, 10);
    color: white;
}

.slideshowContainer 
{
    position: relative;
    margin:auto;
    max-width: 1000px;
}
.slides
{
    display: none;
    

}
.prev,.next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.numberText
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
}
.text
{
    text-align: center;
    font-size: 15px;
    padding: 2px 16px;
    color: white;
    width: 100%;
    position: relative;
}
.dot
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    display: inline-block;
    color:black;
}
.active,.dot:hover 
{
    background-color: #000000;
}
.slideImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imageSwap li
{
    padding-right: 10px;
    display: inline;
}
.imageSwap h1, h2, ul, p, img {
    margin: 10px;
    padding: 0;
    text-align: center;
}
nav {
    text-align: center;
}

