background {
    color: grey;
}
navyfont {
    color: #000080;
}
imagecaption {
    font-style: italic;
    color: 023E8A;
    text-align: center;
}
imagemargins {
    margin: 10%;
    padding: 10%;
}
header {
    text-align: center;
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
}
body {
    background-color: grey;
    color: #000080;
}
ul {
    color:#000080;
}
figure {
    text-align: center;

}
figcaption {
    font-style: italic;
}
a {
    color: #ADD8E6
}
