background {
    color: grey;
}
navyfont {
    color: #000080;
}
imagecaption {
    font-style: italic;
    text-align: center;
}
imagemargins {
    margin: 10%;
    padding: 10%;
}
header {
    text-align: center;
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
}
body {
    background-color: grey;
    color: #000080;
}
ul {
    color:#000080;
}
figure {
    text-align: center;

}
figcaption {
    font-style: italic;
}
a {
    color: #ADD8E6
}
table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
th
{
    background-color: rgb(68, 68, 68);
}
tr:nth-child(even) {
    background-color: lightgray;
}
h3 {
    text-align: center;
}
form 
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #0404c7;
}
button 
{
    background-color: rgb(17, 10, 10);
    color: white;
}
