<footer>
    <a href="https://www.youtube.com/channel/UCSbrycmArdJ8omSlCIETHfA">Theodore Gaming Youtube Channel</a>
      <br>
    Created by <a href="../finnemoretech.com/">Finnemore Technology &copy;2022.</a>
    <p>
    <a href ="https://jigsaw.w3.org/css-validator/check/referer">
        <img src = "images/button_validation_css.png" alt = "css validator button"/>
    </a>
    <a href="https://validator.w3.org/check?uri=referer">
        <img src = "images/button_validation_html5.png " alt = "html validator button" />
    </a>
    </p>
</footer>