footer 
{
    text-align: center;
    margin-top: 1%;
}
a:link, a:visited
{
    text-decoration: none;
    color: #1648a5
}
h2 
{
    text-align: center;
}
h1
{
    text-align: center;
    color: #272932;
    background-color: #3C5F7D;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav
{
    text-align: center;
    color: #272932;
    font-size: 22px;
}
img
{
    margin-left: auto;
    margin-right: auto;
}
table 
{
    margin-left: auto;
    margin-right: auto;
}
figure
{
    text-align: center;
}
body
{
    background-color: #4D7EA8;
    color: #272932;
    font-size: 17px;
    margin: 3%;
}
